@model BlogProject.Models.Teacher
@{
ViewBag.Title = "Show";
}

<h2>Show Teachers</h2>

<div id="containershow">
    <nav>
        <a class="navlink" href="/teacher/List">Back to Teachers</a>
        <a class="dellink" href="/Teachers/deleteConform/@model.TeacherId">Delete</a>
    </nav>
    <h2> @Model.TeacherFname @Model.TeacherLname</h2>

    <p>
        @Model.employeeNumber

        @Model.HireDate

        @Model.Salary
    </p>
</div>